// Specific CSS for your home-page
// use this photo as background image https://images.unsplash.com/photo-1614791962365-7590111b1b1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80

.hero {
  position: relative;
  height: 75vh;
  width: 100vw;
  color: rgb(229, 229, 229);
}

.hero-content {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(https://images.unsplash.com/photo-1614791962365-7590111b1b1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  width: 55vw;
  height: 65vh;
  position: absolute;
  right: 28%;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.3rem;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
}

.hero h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}

.hero-hr {
  width: 50%;
  border: 1px solid $red;
  margin: 0 auto;
  margin-top: 1rem;
}

.card {
  border-radius: 8px;
  width: 20vw;
  height: 45vh;
  position: absolute;
  top: 15%;
  left: -28%;
  border: none;
  box-shadow: 0px 0px 8px rgba(110, 110, 110, 0.4);
}

.card-title-header {
  margin-left: 0;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  color: #333;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}

.card-content p {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  color: rgb(100, 99, 99);
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}

input {
  width: 100%;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 1px solid #f5f5f5;
  padding: 0.5rem;
  background: #f5f5f5;
  color: #333;
}

input:focus {
  outline: none;
  border: 1px solid $red;
  color: $red;
}

@media (max-width: 1383px) {
  .hero {
    height: 100vh;
    width: 100vw;
  }
  .hero-content {
    width: 55vw;
    height: 65vh;
    right: 28%;
  }
  .card {
    width: 20vw;
    height: 45vh;
    left: -28%;
  }
}

@media (max-width: 1050px) {
  .hero {
    width: 100vw;
  }
  .hero-content {
    width: 55vw;
    height: 65vh;
    right: 28%;
  }
  .card {
    width: 20vw;
    height: 45vh;
    left: -28%;
  }
  .card-title-header {
    font-size: 1.5rem;
  }
  .card-content p {
    font-size: 1rem;
  }
  input {
    font-size: 1rem;
  }
  .btn.btn-primary-red {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .card-title-header {
    font-size: 1rem;
  }
  .card-content p {
    font-size: 0.8rem;
  }
  input {
    font-size: 0.8rem;
  }
  .btn.btn-primary-red {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .card-title-header {
    font-size: 0.8rem;
  }
  .card-content p {
    font-size: 0.6rem;
  }
  input {
    font-size: 0.6rem;
  }
  .btn.btn-primary-red {
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
  }
}

.features-card {
  border-radius: 8px;
  width: 80vw;
  height: 72vh;
  border: none;
  box-shadow: 0px 0px 8px rgba(110, 110, 110, 0.4);
  background-color: #fff;
  // margin: 0;
  overflow: hidden;

  .row {
    height: 100%;
  }

  .col-3 {
    height: 100%;
  }

  .col-9 {
    height: 100%;
    overflow: hidden;
  }
}

#features-card {
  margin-right: 0;
}

.features-card-title-header {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  color: #333;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}

.features-card-content p {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  color: rgb(100, 99, 99);
  margin-top: 0.2rem;
  font-family: "Montserrat", sans-serif;
}

.offer-cards {
  height: 500px;
}
