<div class="container container-custom">
  <div class="hero">
    <div class="hero-content">
      <h1>Books BnB</h1>
      <hr class="hero-hr">
      <h3>A space for sharing your favourites reads</h3>
      <div class="card">
        <div class="card-content p-3">
          <div class="card-title">
            <h4 class="card-title-header">Find a book to borrow...</h4>
            <p>Discover new books or rediscover old favourites to read</p>
          </div>
          <div class="card-action">
            <input type="text" placeholder="Search a book">
          </div>
          <div class="buttons mt-5">
          <%= link_to 'Search', offers_path, class: 'btn btn-primary-red' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-card" id="features-card">
    <div class="row">
      <div class="col-3">
        <div class="features-card-content p-3">
          <div class="features-card-title">
            <h4 class="features-card-title-header">View All Offers</h4>
            <p>Not sure what to read?</p>
            <p>Browse thousands of offers</p>
          </div>
          <div class="buttons mt-5">
            <%= link_to 'Explore', offers_path, class: 'btn btn-primary-black' %>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="offers-cards">
          <%= render 'hard_offer_card' %>
        </div>
      </div>
    </div>
  </div>
</div>
