<div class="container">
  <h3 class="card-title-header">View All Offers</h3>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-9 d-flex flex-wrap" id='offers'>
        <% @offers.each do |offer| %>
          <%= render 'offer_card', offer: offer %>
        <% end %>
      </div>
      <div class="col-3 h-100">
        <div class="side-section">
          <h3 class="side-section-header">Search Books</h3>
          <%= form_with url: booksearch_url, method: :get do |form| %>
            <%= form.text_field :query, placeholder: 'Search title, author, ISBN', class: "search-field" %>
            <%= form.submit "Find", class: "btn btn-primary-red" %>
          <% end %>
        </div>
        <div class='side-section'>
          <h3 class='side-section-header'>Browse by Category</h3>
          <ul class='d-flex flex-column gap-3 list-unstyled'>
            <li class="category-list-item">Thriller</li>
            <li class="category-list-item">Romance</li>
            <li class="category-list-item">Sci-Fi</li>
            <li class="category-list-item">Famillies</li>
            <li class="category-list-item">Fantasy</li>
            <li class="category-list-item">Fiction</li>
            <li class="category-list-item">History</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
