.book {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 390px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
  border-radius: 11px;

  .description {
    overflow: hidden;
  }

  p {
    margin-top: 12px;
    font-size: 20px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
  }

  .author {
    font-size: 15px;
  }

  h1 {
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-bottom: -3px;
  }
}

.cover {
  border: 2px solid gray;
  height: 80%;
  overflow: hidden;
}

.cover img {
  width: 100%;
}

#price-tag {
  position: absolute;
  padding: 4px 16px;
  background-color: #3aa73f;
  border-radius: 50px;
  top: 18px;
  left: 20px;
}

#categories {
  box-shadow: 0 0 20px #aaa;
  margin-top: 25px;
  height: 100%;
  padding: 10px 10px 0 10px;
  border-radius: 11px;
}

.category-list-item {
  padding: 16px;
  background-color: #6d757d;
  border-radius: 50px;
  color: white;
  text-align: center;
}
