.book {
  position: relative;
  display: inline-block;
  width: 265px;
  height: 520px;
  box-shadow: 0 0 8px rgba(80, 79, 79, 0.158);
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
  border-radius: 11px;

  .description {
    overflow: hidden;
  }

  p {
    margin: 16px 0;
    font-size: 20px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
  }

  &-dashboard {
    width: 100%;
    margin: 0;
    height: auto;

    .description {
      overflow: visible;
    }

    & p {
      width: 100%;
      resize: none;
      margin: 8px 0;
    }
  }

  .author {
    font-size: 15px;
  }

  h1 {
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-bottom: -3px;
  }
}

.search-field {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.search-field:focus {
  border: 1px solid $red;
}

.card-title-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 35px;
}

hr {
  margin-top: 18px;
  margin-bottom: 24px;
  color: $red;
}

.cover {
  object-fit: cover;
  height: 80%;
  overflow: hidden;
}

.cover img {
  width: 100%;
}

#price-tag {
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.condition {}

.side-section {
  box-shadow: 0 0 8px rgba(80, 79, 79, 0.158);
  margin-top: 25px;
  height: 100%;
  padding: 10px;
  border-radius: 11px;
}

.side-section-header {
  font-size: 28px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin: 18px 6px;
  padding-bottom: 10px;
}

.category-list-item {
  font-size: 15px;
  padding: 5px;
  background-color: none;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 2px solid $red;
  color: $red;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.category-list-item:hover {
  background-color: $red;
  color: #f4f4f4;
  cursor: pointer;
}
