.nav-link {
  cursor: pointer;
}

.delete-button {
  font-size: 24px;
  position: absolute;
  right: 8px;
}

.color-dot-red {
  color: red;
  font-size: 1rem;
  margin-left: 0;
}

.color-dot-green {
  color: green;
  font-size: 1rem;
  margin-left: 0;
}

.color-dot-orange {
  color: orange;
  font-size: 1rem;
  margin-left: 0;
}
