.nav-link {
  cursor: pointer;
}

.delete-button {
  font-size: 24px;
  position: absolute;
  right: 8px;
}

.cheat-button {
  position: absolute;
  right: 8px;
}
.color-dot-red {
  color: red;
}

.color-dot-green {
  color: green;
}

.color-dot-orange {
  color: orange;
}
