<div class="modal fade" id="turbo-confirm" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button value="cancel" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Something Interesting
      </div>
      <div class="modal-footer">
        <button value="confirm" type="button" class="btn btn-secondary">Confirm</button>
        <button value="cancel" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
